@using Common;
@using Microsoft.Security.Application;
@model ViewModel.VMImage

@{
    ViewBag.Title = "WBBSE Admin :: Photo Gallery";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section pageheader
{
    <h1 class="h3 font-weight-bold text-info text-uppercase mb-1 pb-2">Photo Gallery
    </h1>
    <hr class="pb-2" />
}

@section info
{
    <div id="divE" class="alert alert-danger alert-dismissible" style="display:@ViewData[ViewDataNames.ErrorVisibility]">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul style="list-style-type: none;">
            <li>
                @ViewData[ViewDataNames.SaveInfo]
            </li>
        </ul>
    </div>
    <div id="divS" class="alert alert-success alert-dismissible" style="display:@ViewData[ViewDataNames.SucessVisibility]">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul style="list-style-type: none;">
            <li>
                @ViewData[ViewDataNames.SaveInfo]
            </li>
        </ul>
    </div>
}

@section header
{
    <div class="row pb-2">
        <div class="col-md-12">
            @if (ViewData[ViewDataNames.AddYN] == "visible")
            {
                <div class="btn-group float-right">
                    <button type="button" id="btnAdd" class="btn btn-outline-secondary" accesskey="A">Add New</button>
                </div>
            }
        </div>
    </div>
}

<!--Loader-->
<div id="preloader">
    <div id="loader"></div>
</div>

@*Main Modal*@
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-width-50">
        <div id="divModalContent" class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h4 class="modal-title"><span id="lblModalHeader"></span></h4>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            @using (Html.BeginForm("PhotoGallery", "AdminImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="modal-body" id="divPopupBody">
                    <div class="alert alert-danger alert-dismissible" id="AlertInfo">
                        <button type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</button>
                        <strong><span id="AlertInfoMsg"></span></strong>
                    </div>
                    <div class="row pb-2">
                        <div class="col-md-12">
                            <span>Select Image(s)<span style="color: red;"> * </span>(<span class="text-primary">@*Max allowed size : 500kb,*@Accepted format : jpg/jpeg/png</span>)</span>
                            <hr />
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-sm-12">
                            <input type="file" id="fuSlider" name="postedFiles" onchange="readURL1(this)" accept="image/jpg,image/jpeg,image/png," />
                            <hr />
                        </div>
                    </div>
                    <div id="viewImage" class="row pb-2">
                        <div class="col-sm-12 text-center mx-auto">
                            <img id="imgSlider" class="img-fluid" src="~/img/no-photo.png" alt="This feature may not work with older browser" />
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.EntType, new { @id = "e" })
                    @Html.HiddenFor(m => m.ImageId, new { @id = "I" })
                    @Html.HiddenFor(m => m.ImageName, new { @id = "N" })
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input type="submit" id="btnSave" value="Upload" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

<!-- View Modal -->
<div class="modal fade" id="popupModalView" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-width-50">
        <div id="divModalContentView" class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h4 class="modal-title">Photo Gallery :: View Image</h4>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center" id="divPopupBodyView">
                <img id="imgSliderView" class="img-fluid" src="#" alt="Not Found" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-bordered table-responsive">
        <tbody>
            @Html.Raw(ViewData[ViewDataNames.RawData])
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Areas/Admin/js/photo-gallery.js?v=@DateTime.Now.ToFileTime().ToString()"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            HideLoader();
            //anchor active
            var activeLink = "@ViewData[ViewDataNames.ActiveLinkA]";
            var currentA = document.getElementById(activeLink);
            currentA.classList.add("active");
            //anchor div
            var activeDIV = currentA.parentElement.parentElement.id;
            var currentDIV = document.getElementById(activeDIV);
            currentDIV.classList.add("show");
            //anchor li
            var activeLI = currentA.parentElement.parentElement.parentElement.id;
            var currentLI = document.getElementById(activeLI);
            currentLI.classList.add("active");
        });
    </script>
}
